[[source]]
verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"

[packages]
"pyqt5" = "*"
openpyxl = "*"
"bs4" = "*"
mysql-connector = "*"
sip = "*"

[dev-packages]

[requires]
python_version = "3.5"
